global
        log 127.0.0.1   local0
        maxconn 4096
        daemon
        pidfile /var/run/haproxy-private.pid

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        option  forwardfor
        option  http-server-close
        timeout connect 5000ms
        timeout client 50000ms
        timeout server 50000ms

frontend http-in
        bind *:1024-9999

        # Define hosts{{range gets "/services/boxes/*"}}
        acl host_{{base .Key}} hdr(host) -i {{base .Key}}.noob.work{{end}}

        # Figure out which one to use{{range gets "/services/boxes/*"}}
        use_backend {{base .Key}}_cluster if host_{{base .Key}}{{end}}

{{range gets "/services/boxes/*"}}backend {{base .Key}}_cluster
        balance leastconn
        option httpclose
        option forwardfor
        server {{base .Key}}_server {{.Value}}
{{end}}
