[template]
keys        = [ "/services/boxes" ]
owner       = "root"
mode        = "0644"
src         = "haproxy.cfg.tmpl"
dest        = "/usr/local/etc/haproxy/haproxy.cfg"
reload_cmd  = "haproxy -f /usr/local/etc/haproxy/haproxy.cfg -p $(</var/run/haproxy-private.pid) -st $(</var/run/haproxy-private.pid)"
